<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link rel="stylesheet" href="/CSS-folder/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header-item-list">
                <li class="main-header-items"><a class="active" href="/">Shop</a></li>
                <li class="main-header-items"><a href="/admin1/Add-Products">Add product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Form Successfully Filled</h1>
     </main>
</body>
</html>