body {
    background-color: rgba(224, 218, 218, 0.477); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
  }
  .center-box {
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 150px;
    position:fixed;
    left: 50%;
    top: 15%;
    z-index: 1001; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .close {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    background-color: red;
    color: rgb(245, 241, 241);
    font-size: 20px;
  }