body{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
main{
    padding: 1rem;
}
.main-header{
    width: 100%;
    height: 3.5rem;
    background-color: goldenrod;
    padding: 0 1.5rem;
}
.main-header-nav{
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header-item-list{
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
}
.main-header-items{
    text-decoration: none;
    color:black;
    margin: 1rem;
}
.main-header-items a:hover,
.main-header-items a:active,
.main-header-items a.active{
    color:rgb(4, 3, 54) ;
}
.form-control label,
.form-control input{
    display: block;
    width: 100%;
}
.form-control{
    margin: 1rem 0;
}
.form-control input{
    border: 1px solid goldenrod;
    font: inherit;
    border-radius: 2px;
}
.product-form{
    width: 30rems;
    max-width: 90;
    margin: auto;
}
button{
    font: inherit;
    border: 1px solid black;
    background: white;
    border-radius: 3px;
    color: goldenrod;
    cursor: pointer;
}
button:hover,
button:active{
    background-color: black;
    color: whitesmoke;
}